<div id="adminContent" class="grades-main-content">
  <div class="panel panel-primary">
    <div class="panel-heading have-menu">
      <%= render "admin_panel/share/personnel_menu" %>
    </div>
      
    <div id="adminList" class="panel-body">
      <%= render "/admin_panel/admins/list/#{params[:role].present? ? params[:role] : "system"}"%>
    </div>
  </div>
<div>

<div id="adminCreate">
  
</div>

