<div class="wrapper">
	<div class="col-md-3">
		<div class="content">
			<div class="left-head"><strong>培训计划</strong></div>
			<div class="left-body">
				<ul class="nav nav-stacked">
					<li role="presentation"><a href="#">平台简介</a></li>
					<hr class="divider">
					<li role="presentation"><a href="#">平台背景</a></li>
					<hr class="divider">
					<li role="presentation"><a href="#">培训通知</a></li>
					<hr class="divider">
					<li role="presentation" class="active"><a href="#">培训报名</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="content">
			<div class="right-head">
				<div class="col-xs-2"><strong>培训通知</strong></div>
			</div>
			<div class="right-body">
			
			</div>
		</div>
	</div>
</div>
