<div class="wrapper">
	<div class="row">
		<div class="col-md-3">
			<%= render "left_bar"%>
		</div>
		<div class="col-md-9">
			<div class="content">
				<div class="right-head">
					<div class="col-xs-2 text-center"><strong>培训通知</strong></div>
				</div>
				<div class="right-body">
					<div class="container-fluid font-blue text-center">
						<h2>关于2015年高职高专院校专业负责人培训班（第一期）学员</h2>
						<h4>网上提交作业的通知</h4>
					</div>
					<hr class="divider">
					<p></p>
					<div class="container-fluid text-left">
						<ul class="nav-justified">
							<li class="notice-info">发布时间: 2015-08-06</li>
							<li class="notice-info">浏览次数: 843次</li>
							<li class="notice-info">来源: 上海电子学院</li>
							<li class="notice-info">
								分享:
								<span class="pull-right"><%= render "common/baidu_share" %></span>
							</li>
						</ul>
						<dl>
							<dt>一、学员填报或完善个人信息</dt>
							<dd>1. 访问<a href="http://www.shsgzgzjxyjh.cn" target="_blank">www.shsgzgzjxyjh.cn</a>，进入上海市高职高专教学研究会网站。</dd>
							<dd>2. 点击“培训”，进入“高等职业学校专业负责人培训项目”首页，……</dd>
							<br>
							<dt>二、提交作业</dt>
							<dd>1. 优化后的高等职业技术院校专业人才培养方案；</dd>
							<dd>2. 对本专业的SWOT分析报告； </dd>
							<dd>3.  围绕专业建设选择一个侧重面制订一份专项建设规划。</dd>
							<br>
							<dd class="text-right">技术支持：李老师（18616591019）</dd>
							<dd class="text-right">联 系 人：华老师（13801804822）</dd>
							</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
