<div class="user-info">
  <div class="col-sm-4">您好： <%= show_name %>（<%= Admin::Role[current_admin.role.to_sym] %>）</div>
  <div class="col-sm-4 pull-right"><%= Time.now.strftime("%Y年%m月%d日 %H:%M")%></div>
</div>
