<div class="user-info">
  <div class="col-sm-4">您好： <%= show_name %>（<%= Admin::Role[current_admin.role.to_sym] %>）</div>
  <div class="col-sm-4">省份： <%#= current_admin.province_manager%></div>
  <div class="col-sm-4"><%= Time.now.strftime("%Y年%m月%d日 %H:%M")%></div>
</div>
