<table class="table table-bordered">
  <tr>
    <th>周次</th>
    <th>时间</th>
    <th>培训内容</th>
    <th>授课方式</th>
    <th>培训老师</th>
  </tr>
  <tr>
    <td rowspan="5">第1培训周</td>
    <td>第1天</td>
    <td>现代职教理念及跨境电子商务的发展专题讲座</td>
    <td>报告</td>
    <td>姚大伟</td>
  </tr>
  <tr>
    <td>第2天</td>
    <td>国内外跨境电商业务介绍</td>
    <td>报告</td>
    <td>罗贵华</td>
  </tr>
  <tr>
    <td>第3天</td>
    <td>跨境电子商务业务运营与自贸区</td>
    <td>讲解</td>
    <td>谢志翔</td>
  </tr>
  <tr>
    <td>第4天</td>
    <td>跨境电商企业平台业务操作</td>
    <td>实训</td>
    <td>韩麟</td>
  </tr>
  <tr>
    <td>第5天</td>
    <td>洋山港进口商品展示交易中心/保税业务综合办理中心</td>
    <td>实训</td>
    <td>韩麟</td>
  </tr>
  <tr>
    <td rowspan="5">第2培训周</td>
    <td>第1天</td>
    <td>国际市场营销</td>
    <td>讲解</td>
    <td>谢志翔</td>
  </tr>
  <tr>
    <td>第2天</td>
    <td>国际跨境电子商务法律法规</td>
    <td>讲解</td>
    <td>杨坚争</td>
  </tr>
  <tr>
    <td>第3天</td>
    <td>跨境电子商务与海关业务的发展与政策解析</td>
    <td>报告</td>
    <td>顾百川</td>
  </tr>
  <tr>
    <td>第4天</td>
    <td>跨境电子商务的海关监管模式</td>
    <td>讲解</td>
    <td>宗慧民</td>
  </tr>
  <tr>
    <td>第5天</td>
    <td>跨境电子商务的外贸企业（上海欣海报关集团）</td>
    <td>企业参访</td>
    <td>葛基中</td>
  </tr>
</table>