<table class="table">
  <thead>
    <tr>
      <th width="30%">名称</th>
      <th>培训机构</th>
      <th>培训项目负责人</th>
      <th>班级负责人</th>
      <th>起止时间</th>
      <th>计划人数</th>
      <th>剩余名额</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="left">（国内）（上海）信息化教学 技术及信息化课程开发师资培训 （国培代码：09151005） </td>
      <td>上海 - 徐汇<br>上海电子信息技术职业学院</td>
      <td>由寅君<br>13800231221</td>
      <td>由寅君<br>13800231221</td>
      <td>2015-07-06<br>2015-08-05</td>
      <td>100</td>
      <td>20</td>
    </tr>
  </tbody>
</table>