<table class="table table-bordered">
  <tr>
    <th>姓名</th>
    <th>性别</th>
    <th>职称 / 职务</th>
    <th>单位名称</th>
  </tr>
  <tr>
    <td>姚大伟</td>
    <td>男</td>
    <td>教授</td>
    <td>上海市高职高专经济类专业教学指导委员会主任</td>
  </tr>
  <tr>
    <td>顾百川</td>
    <td>男</td>
    <td>副会长</td>
    <td>上海报关协会</td>
  </tr>
  <tr>
    <td>罗贵华</td>
    <td>男</td>
    <td>董事长</td>
    <td>上海美华系统有限公司</td>
  </tr>
  <tr>
    <td>张亮</td>
    <td>男</td>
    <td>总经理</td>
    <td>南京世格软件有限责任公司</td>
  </tr>
  <tr>
    <td>杨坚争</td>
    <td>男</td>
    <td>教授</td>
    <td>上海理工大学</td>
  </tr>
  <tr>
    <td>宗慧民</td>
    <td>男</td>
    <td>教授</td>
    <td>上海海关学院</td>
  </tr>
  <tr>
    <td>徐逞</td>
    <td>男</td>
    <td>经理</td>
    <td>上海欣海报关公司</td>
  </tr>
  <tr>
    <td>谢志翔</td>
    <td>男</td>
    <td>经理</td>
    <td>上海数字贸易有限公司</td>
  </tr>
</table>