<ol class="breadcrumb">
  <li>
    <%= link_to "后台", admin_panel_root_path  %>
  </li>
  <li>
    <%= link_to "通知列表", admin_panel_notifications_path %>
  </li>
  <li class="active">新建</li>
</ol>
<div class="main-content">
  <div class="panel panel-default">
	<div class="panel-heading panel-active">新建通知</div>
	  <div class="panel-body panel-default-bg">
    	<%= render "form"%>
	  </div>
	</div>
</div>