<div class="main-content">
	<div class="user-info">
		<div class="col-sm-4">您好： xxx班级负责人</div>
		<div class="col-sm-4">省份： 上海</div>
		<div class="col-sm-4">2015年06月05日 am10：34</div>
	</div>
	<ol class="breadcrumb">
	  <span class="glyphicon glyphicon-home">&nbsp;</span>
	  <li><a href="#">当前位置</a></li>
	  <li><a href="#">代办项目</a></li>
	  <li class="active">完善项目资料</li>
	</ol>
</div>