<nav class="nav-bar">
  <div class="container-fluid">
    <div class="col-sm-9">
      <%= link_to "高等职业学校专业骨干教师培训项目", admin_root_path, class: "name" %>
    </div>
    <div class="col-sm-1 pull-left text-center">
      <%= link_to "" do%>
       <span class="glyphicon glyphicon-home "></span> 门户首页
      <% end %>
    </div>
    <div class="col-sm-1 pull-left text-center">
      <%= link_to "" do%>
        <span class="glyphicon glyphicon-refresh "></span> 刷新页面
      <% end %>
    </div>
    <div class="col-sm-1 pull-left text-center">
      <%= link_to "" do%>
         <span class="glyphicon glyphicon-minus-sign "></span> 注销系统
      <% end %>
    </div>
    </div>
  </div>
</nav>