<div class="form-group">
  <%= f.label :groups, '分组', class: 'col-sm-3 control-label' %>
  <div class="col-sm-4">
    <%= f.text_field :groups, placeholder: "不同组间用空格隔开, 如: 第一组, 第二组", class: 'form-control' %>
  </div>
</div>