<ol class="breadcrumb">
  <li>
    <%= link_to "后台", admin_panel_root_path  %>
  </li>
  <li>
    <%= link_to "通知列表", admin_panel_notifications_path %>
  </li>
   <li>
    <%= link_to @training_course.name, admin_panel_notification_training_course_path(@notification, @training_course) %>
  </li>
  <li class="active">修改</li>
</ol>


<div class="main-content">
  <div class="panel panel-default">
    <%= render "form" %>
	</div>
</div>