<div class="main-content">
	<div class="panel panel-default">
	  <!-- <div class="panel-heading panel-active">评审项目</div> -->
	  <!-- 培训机构的权限是新建申报项目 -->
	  <div class="panel-heading panel-active" style="overflow: hidden;">
	    <span class="pull-left">培训项目</span>
	    <%= link_to new_admin_panel_notification_path, class: "btn btn-xs pull-right btn-active", 'data-no-turbolink' => true do %>
	       <span class="glyphicon glyphicon-plus-sign"></span> 新建项目通知
	    <% end %>
	  </div>
	  <div class="panel-body panel-default-bg">
	    <table class="table table-condensed">
	    	<thead>
	    	  <tr>
	    	  	<th class="text-center">分类</th>
	    	  	<th class="text-center">培训班</th>
		    		<th class="text-center">培训机构</th>
		    		<th class="text-center">培训起止时间</th>
		    		<th class="text-center">计划数</th>
		    		<th class="text-center">可否报名</th>
		    		<th class="text-center">评审专家</th>
		    		<th class="text-center">研究会</th>
		    		<!-- <th class="text-center">教委</th> -->
		    		<th class="text-center">报名人员</th>
		    		<th class="text-center" colspan="2">操作</th>
	    	  </tr>
	    	</thead>
	    	<tbody>
	    	  <%= render partial: 'training_course'%>
		   	</tbody>
	    </table>
	  </div>
	</div>
	<%#= paginate @training_courses %>
</div>

<script type="text/javascript">
	$(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>