<ol class="breadcrumb">
  <li>
    <%= link_to "后台", admin_panel_root_path  %>
  </li>
  <li class="active">
    培训班
    <%#= link_to "培训列表", admin_panel_notification_training_courses_path(@notification) %>
  </li>
  <li class="active">新建</li>
</ol>

<div class="main-content">
  <div class="panel panel-default">
    <%= render "form" %>
	</div>
</div>