<ol class="breadcrumb">
  <li>
    <%= link_to "后台", admin_panel_root_path  %>
  </li>
  <li>
    <%= link_to "新闻动态", admin_panel_events_path %>
  </li>
  <li>
    <%= link_to @event.title, admin_panel_event_path(@event) %>
  </li>
  <li class="active">修改</li>
</ol>

<div class="main-content">
  <div class="panel panel-default">
  <div class="panel-heading panel-active">更新新闻</div>
    <%= render "form" %>
	</div>
</div>