<div class="main-content">
	<div class="panel panel-default">

	  <div class="panel-heading panel-active" style="overflow: hidden;">
	    <span class="pull-left">新闻动态</span>
	    <%= link_to new_admin_panel_event_path, class: "btn btn-xs pull-right btn-active" do %>
	       <span class="glyphicon glyphicon-plus-sign"></span> 新建
	    <% end %>
	  </div>
	  <div class="panel-body panel-default-bg">
	    <table class="table">
	    	<thead>
	    	  <tr>
		    	<th class="col-sm-2 text-center">标题</th>
		    	<th class="text-center">操作</th>
	    	  </tr>
	    	</thead>
	    	<tbody>
	    	  <% @events.each do |event|%>
		    	  <tr class="tr-default-bg">
		    	  	<td class="text-center"><%= link_to truncate(event.try(:title), length: 15), admin_panel_event_path(event.id) %></td>
			    	<td class="text-center"><%= image_tag event.picture_url.url %></td>	
					<td class="text-center">
						<%= link_to edit_admin_panel_event_path(event), 'data-no-turbolink' => true do %>
						  <span class="glyphicon glyphicon-edit"></span> 修改
						<% end %>
					</td>
		    	  </tr>
		    	<% end %>
	    	</tbody>
	    </table>
	  </div>
	</div>
</div>
