<div class="grades-main-content">
  <div class="panel panel-primary">
    <div class="panel-heading have-menu">
      <ul id="detailMenu" class="nav nav-pills nav-content-menu">
        <li><a href="#">培训作业</a></li>
        <li class="active"><a href="#">日志提交</a></li>
        <li><a href="#">学员反馈</a></li>
        <li><a href="#">学员评师</a></li>
        <li><a href="#">负责人反馈</a></li>
      </ul>
    </div>
      
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>姓名</th>
            <th>联系方式</th>
            <th>日志标题</th>
            <th width="25%">培训班</th>
            <th>创建&amp;修改时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% (1..10).each do |i| %>
          <tr>
            <td>
              王健 
            </td>
            <td>13608291823<br>23612323@qq.com</td>
            <td>7月13号日志</td>
            <td><%= link_to("（国内）（上海）信息化教学 技术及信息化课程开发师资培训 （国培代码：09151005）", admin_panel_grade_path(1) )%></td>
            <td>2013-06-23 14:23</td>
            <td><a href="#">查看</a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<div>
