<dl class="target-content">
  <dt><h4>培训时间及报到地点</h4></dt>
  <dd>
    <p class="indentation">
      1．培训时间：2015年7月13日——2015年8月7日
    </p>
  </dd>
  <dd>
    <p class="indentation">
      2．报到地点：上海立信会计学院（上海市徐汇区中山西路2230号）</p>
    <p class="indentation">详细信息将在开班前一个星期通过邮件和电话通知。请您务必按时报到，有其他事由请至少提前一周告知，以确定到达时间。
    </p>
  </dd>

  <dt><h4>报到时需要准备的资料与物品</h4></dt>
  <dd>
    <p class="indentation">
      1．2寸白底照片4张（拟办理结业证书以及建立学员档案）；
    </p>
  </dd>
  <dd>
    <p class="indentation">
      2．《高职高专教育骨干教师培训推荐表》2份（须加盖单位公章）；
    </p>
  </dd>
  <dd>
    <p class="indentation">
      3．个人生活、学习、洗漱用品。
    </p>
  </dd>

  <dt><h4>培训费用及付款方式</h4></dt>
  <dd>
    <p class="indentation">
     1．培训费：培训费：6600元/人，包含专家授课费、场地使用费、企业参观咨询费、资料费、研讨费及食宿费等。
    </p>
  </dd>
  <dd>
    <p class="indentation">2．付款方式：提前转账到学院账户</p>
    <p class="indentation">单位名称：上海立信会计学院；开户行：工商银行上海裕德路支行；帐号：1001270209026400011。注意：务必在汇款单附言栏内注明“国培项目+跨境电商+姓名”，如：“国培项目跨境电商王五”。报到时请携带汇款票据，谢谢！</p>
    <p class="indentation">说明：国家级培训经费以中央财政投入为主，逐级拨付到参训教师所在职业院校，在中央财政资金拨付到位之前，参训院校应全额垫付教师培训的相关费用。
    </p>
  </dd>
</dl>