<dl class="target-content">
  <dt>1. 教学目标：</dt>
  <dd><p class="indentation">培养国际贸易和电子商务复合型师资的人才。要求了解与掌握跨境电子商务的国际市场营销、交易、支付、跨境业务海关监管、进出口物流方式、税收等环节的业务流程知识与操作。培养学员成为双师型师资，通过上海市职业技能鉴定中心的考核后，可获得人力资源与社会保障部颁发的电子商务师高级（三级）证书。</p></dd>
  <dt>2. 教学方法：</dt>
  <dd><p class="indentation">⑴ 专题报告；⑵ 理论讲解结合案例教学；⑶ 结合企业业务平台进行业务操作；⑷ 企业参观交流。</p></dd>
</dl>
