<div class="container wrapper">
	<div class="row main">
		<div class="col-md-3">
			<div class="left-nav text-center">
				<span class="platform">培训计划</span><br/>
				<span class="platform">培训计划</span><br/>
				<span class="platform">培训计划</span><br/>
				<span class="platform">培训计划</span><br/>

			</div>
		</div>
		<div class="col-md-9 right-nav">
			<div class="platform">
				<span >平台简介</span>
			</div>			
		</div>
	</div>
</div>