<div class="wrapper">
  <%= render "common/on_maintenance"%>
</div>

<!-- <div class="wrapper">
	<div class="row content">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="right-head">
				<div class="col-xs-2 text-center"><strong>平台背景</strong></div>
			</div>
			<div class="sub-main">
				<h2 class="text-center" style="color: #1b49b3;margin-bottom:20px">职业院校教师素质提高项目简介</h2>
				<hr class="dashed">
				<p></p>
				<div class="container-fluid ">
					<div class="col-md-3 about-info"><span>发布时间：2015-4-15</span></div>
					<div class="col-md-3 about-info "><span>浏览次数：88888</span></div>
					<div class="col-md-3 about-info"><span>来源：上海电子学院</span></div>
					<div class="col-md-3 about-info text-center">
						<span>分享：
							<span class="pull-right"><%#= render "common/baidu_share" %></span>
						</span>
					</div>
					<br><br>
					<p class="text-justify">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为贯彻落实全国教育工作会议精神和《国家中长期教育改革和发展规划纲要（2010-2020年）》提出的完成培训一大批“双师型”教师、聘任（聘用）一大批有实践经验和技能的专兼职教师的工作要求，进一步推动和加强职业院校教师队伍建设，促进职业教育科学发展，教育部、财政部决定2011-2015年实施职业院校教师素质提高计划。</p><br>
					<p class="text-justify">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2011-2015年，将组织45万名职业院校专业骨干教师参加培训，其中中央财政重点支持培训10万名，省级培训35万名，提高教师的教育教学水平特别是实践教学和课程设计开发能力；支持2万名中等职业学校青年教师到企业实践，提高教师的产业文化素养和专业技能水平；支持职业院校设立兼职教师岗位，优化职业院校教师队伍的人员结构；支持国家职业教育师资基地重点建设300个职教师资专业点，开发100个职教师资本科专业的培养标准、培养方案、核心课程和特色教材, 加强基地的实训条件和内涵建设，完善适应教师专业化要求的培养培训体系。</p><br>
					<p class="text-justify"style="margin-bottom:60px;">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;实施职业院校教师素质提高计划，是《国家中长期教育改革和发展规划纲要（2010-2020年）》提出的重大项目，是新时期新阶段推动职业教育科学发展的迫切要求，是提高职业院校教师队伍整体素质的重要举措。各级教育、财政部门和有关单位要切实提高重视程度，加强组织领导，周密安排部署，精心组织实施。</p>
				</div>
			</div>
		</div>
	</div>
</div> -->