<div class="wrapper">
  <%= render "common/on_maintenance"%>
</div>
<!-- <div class="wrapper">
	<div class="row content">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="right-head">
				<div class="col-xs-2 text-center"><strong>平台背景</strong></div>
			</div>
			<div class="sub-main">
				<h3 class="text-center" style="color: #1b49b3;margin-bottom:20px">教育部办公厅 财政部办公厅关于做好职业院校<br/>教师素质提高计划2013年度项目申报工作的通知</h3>
				<hr class="dashed">
				<p></p>
				<div class="container-fluid ">
					<div class="col-sm-3 about-info"><span>发布时间：2015-4-15</span></div>
					<div class="col-sm-3 about-info "><span>浏览次数：88888</span></div>
					<div class="col-sm-3 about-info"><span>来源：上海电子学院</span></div>
					<div class="col-sm-3 about-info text-center">
						分享：
						<span class="pull-right"><%#= render "common/baidu_share" %></span>
					</div>
					<br><br>
					<p>教师厅函[2013]6号</p>
					<p class="text-justify">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;各省、自治区、直辖市教育厅（教委）、财政厅（局），各计划单列市教育局、财政局，新疆生产建设兵团教育局、财务局，全国重点建设职教师资培养培训基地：根据《教育部 财政部关于实施职业院校教师素质提高计划的意见》（教职成〔2011〕14号）和相关项目管理办法，现就做好2013年度职业院校教师素质提高计划项目申报工作的有关事宜通知如下。</p>
					<p>一、项目任务与申报<br/></p>
					<p>1.中等职业学校专业骨干教师国家级培训项目。</p>
					<p class="text-justify">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 各地根据《中等职业学校专业骨干教师国家级培训项目2013年度培训专业目录》（见附件1，以下简称《目录》）和《中等职业学校专业骨干教师国家级培训项目2013年度分省名额分配表》（见附件2），拟定参加培训的专业和人数，填写《中等职业学校专业骨干教师国家级培训项目2013年度任务分解表》（见附件3，计划单列市、新疆生产建设兵团单独填写，下同），由省级教育行政部门分别报至教育部、财政部。</p>
					<p class="text-justify">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 各地申报的培训专业，需限定在《目录》范围内，突出本地区中等职业学校重点专业和紧缺专业教师的培训需求，名额要向县级职教中心,国家连片特困地区、民族地区、革命老区学校专业教师倾斜。兼顾专业及人数分布的平衡。</p>
					<p class="text-justify">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;申报中等职业学校专业骨干教师国家级培训任务的培训机构，须为教育部确定的全国重点建设职业教育师资培养培训基地、全国职业教育师资专业技能培训示范单位。所报项目须具有专业优势和工作基础，每个机构申报的专业数最多不超过6个（每份申报书填写一个专业）。培训机构根据《目录》，填写《中等职业学校专业骨干教师国家级培训项目申报书》（见附件4），分别报至教育部、财政部，两部对申报材料（含培训方案）进行汇总、评审，评审采取网络评审和会议评审相结合的方式进行，评审结果经公示无异议后，确定下达年度培训任务。各地出国进修人员推荐工作另行部署。</p>

					<p>2.高等职业学校专业骨干教师国家级培训项目。</p>
					<p class="text-justify">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 各地申报的培训专业，需限定在《目录》范围内，突出本地区中等职业学校重点专业和紧缺专业教师的培训需求，名额要向县级职教中心,国家连片特困地区、民族地区、革命老区学校专业教师倾斜。兼顾专业及人数分布的平衡。</p><p class="text-justify">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 各地申报的培训专业，需限定在《目录》范围内，突出本地区中等职业学校重点专业和紧缺专业教师的培训需求，名额要向县级职教中心,国家连片特困地区、民族地区、革命老区学校专业教师倾斜。兼顾专业及人数分布的平衡。</p>

					<p>3.中等职业学校青年教师企业实践项目。</p>
					<p class="text-justify">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  各地根据《中等职业学校专业目录（2010年修订）》和《中等职业学校青年教师企业实践项目2013年度分省名额分配表》（见附件6），结合本地区中等职业学校青年教师队伍建设的需要，拟定选派专业和人数，填写《中等职业学校青年教师企业实践项目2013年度任务分解汇总表》（见附件7）；并结合本地区产业优势，推荐若干企业承担项目任务，指导被推荐企业填写《中等职业学校青年教师企业实践项目2013年度任务安排表》（见附件8），上述材料由省级教育行政部门统一报至教育部、财政部。各地申报的本年度企业实践专业数一般不超过30个，要突出本地区中等职业学校重点专业和紧缺专业青年教师的培训需求，兼顾专业及人数分布的平衡，并确保每个培训指标都对应到具体的企业</p>
					<p class="text-justify">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 各地推荐的企业数一般不超过20个，被推荐企业提供的教师企业实践岗位数可大于推荐省（区、市）的需求数，以供其他省（区、市）选用。被推荐企业一般应具有较强的行业代表性和影响力，覆盖专业面广，校企合作和职工培训基础好，能够提供教师企业实践所需要的岗位、指导教师（师傅）和基本生活条件。每个企业接收实践教师的人数一般不少于5人。教育部、财政部对上述申报材料进行汇总备案，并公布各地教师企业实践任务及具备承担项目资格的企业名单。4.职教师资培训专业点建设项目。</p>

					<p>4.职教师资培训专业点建设项目</p>
					<p class="text-justify">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 申报单位须为全国重点建设职业教育师资培养培训基地，申请建设的职教师资培训专业点所对应的实训实验课程已纳入相关专业职教师资培训方案，承担2年及以上国家级或省级职教师资培训任务，具备相应的场地、技术人员、相关辅助设施等基础条件，受益面大，使用率高。</p>
					<p class="text-justify">&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 申报单位根据职教师资培训重点专业建设状况，结合“十一五”以来承担的国家级和省级培训专业，确定拟申报建设的职教师资培训专业点。填写《职教师资培训专业点建设项目申报书》（见附件9），每个单位申报的专业点数最多不超过3个（每份申报书填写一个专业），分别报至教育部、财政部，两部组织专家对申报材料进行评审，下达年度建设项目</p>

					<p>二、申报材料</p>
					<p class="text-justify">1.各省（区、市）教育行政部门、培训机构将书面申报材料加盖公章后分别寄送教育部教师工作司和财政部教科文司各一份，报送日期由以邮戳为准，截止时间为6月21日。。</p>
					<p class="text-justify">2.中职教师国家级培训项目、青年教师企业实践项目及职教师资培训专业点建设项目的申报材料，在截止时间前，通过中国职业教育教师培训网（www.cvett.cn）“项目申报”专栏提交。</p>
					<p class="text-justify">高职教师国家级培训项目的申报材料，在截止时间前，通过项目管理网络平台（http://guopei.hvett.com.cn/index/login）或中国高职高专教育网（www.tech.net.cn）“高等职业学校教师专业能力发展平台”专栏提交。</p>
					<p class="text-justify">
					3. 本文件可通过登录项目管理网络平台浏览、下载。</p>

					<p>三、联系方式</p>
					<p>1.教育部（北京西单大木仓胡同35号，邮编：100816）</p>
					<p>教师工作司联系人：王克杰  李新发   电话：010-66096906，66097715  传真：010-6609631  电子邮箱：moeszc@moe.edu.cn职业教育与成人教育司联系人：林宇  任占营   电话：010-66096232  传真：010-66096232   电子邮箱：sfgz@moe.edu.cn</p>
					<p>2.财政部（北京西城区三里河南三巷3号，邮编：100820）</p>
					<p>教科文司教育二处联系人：王征   电话：010-68551282  传真：010-68551400   电子邮箱：jkwsjyc@yahoo.com.cn</p>
					<p>附件：</p>
					<p>1．中等职业学校专业骨干教师国家级培训项目2013年度培训专业目录</p>
					<p>2．中等职业学校专业骨干教师国家级培训项目2013年度分省名额分配表</p>
					<p>3．中等职业学校专业骨干教师国家级培训项目2013年度任务分解表</p>
					<p>4．中等职业学校专业骨干教师国家级培训项目申报书</p>
					<p>5．高等职业学校专业骨干教师国家级培训项目2013年度分省任务表</p>
					<p>6．中等职业学校青年教师企业实践项目2013年度分省名额分配表</p>
					<p>7．中等职业学校青年教师企业实践项目2013年度任务分解汇总表</p>
					<p>8．中等职业学校青年教师企业实践项目2013年度任务安排表</p>
					<p>9．职教师资培训专业点建设项目申报书</p>
					<p class="text-right">教育部办公厅 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 财务部办公厅</p>
					<p class="text-right">2013年5月31日</p>
				</div>
			</div>	
		</div>
	</div>
</div> -->