<div class="row">
	<div class="col-xs-12 report-page">
		<div class="row">
		<%= render "report_header" %>
		</div>
		<!-- 内容详情部分开始 -->
		<div class="row">
			<div class="container">
				<div class="col-xs-12 news-show-content">
					<div class="col-xs-12 report-show-title">
						<div class="col-xs-2" style="padding-top: 4px;">内容详情</div>
						<div class="col-xs-4 pull-right">
						<input class="report-show-input" placeholder="输入关键字查找">
						<label>站内搜索</label>
						</div>
					</div>
					<div class="col-xs-12 report-show-content">
						<div class="col-xs-12 text-center">
							<h4 class="show-news-title">关于做好上海市2015年度高等职业学校专业骨干教师培训项目申报工作的通知</h4>
							<span class="datatime">2015-06-11&nbsp;15:39:11</span>
							<hr class="show-new-hr">
						</div>
						<div class="news-show-text">
							.......
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<!-- 内容详情部分结束 -->
		<div class="row">
		<%= render "report_footer" %>
		</div>
	</div>
</div>
