<div class="main-content">
	<div class="panel panel-default">
	  <div class="panel-heading panel-active">反馈框</div>
	  <div class="panel-body panel-default-bg">
	    <textarea class="form-control" rows="3"></textarea>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading panel-active">搜索框</div>
	  <div class="panel-body panel-default-bg">
	    <textarea class="form-control" rows="3"></textarea>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading panel-active">意见反馈</div>
	  <div class="panel-body panel-default-bg">
	    <table class="table">
	    	<thead>
	    	  <tr>
	    	  	<th class="col-sm-2 text-center">ID</th>
		    		<th class="col-sm-2 text-center">类型</th>
		    		<th class="text-center">反馈内容</th>
		    		<th class="text-center">回复数</th>
		    		<th class="col-sm-2 text-center">用户</th>
		    		<th class="text-center">创建时间</th>
		    		<th class="text-center" colspan="3">操作</th>
	    	  </tr>
	    	</thead>
	    	<tbody>
	    	  <tr class="tr-default-bg">
	    	    <td class="text-center">1</td>
	    	  	<td class="text-center">其它方面</td>
		    		<td class="text-center">希望查询出现信息提示时，自己对象恶分数是噶啥价格时间告诉了</td>
		    		<td class="text-center">0</td>
		    		<td class="text-center">匿名</td>
		    		<td class="text-center">2015-07-09</td>
		    		<td class="text-center">
		    			<%= link_to "" do %>
		    			  <span class="glyphicon glyphicon-edit"></span>
		    			<% end %>
		    		</td>
		    		<td class="text-center">
		    			<%= link_to "" do %>
		    			  <span class="glyphicon glyphicon-pencil"></span>
		    			<% end %>
		    		</td>
		    		<td class="text-center">
		    			<%= link_to "" do %>
		    			  <span class="glyphicon glyphicon-print"></span>
		    			<% end %>
		    		</td>
	    	  </tr>
	    	</tbody>
	    </table>
	  </div>
	</div>
</div>