<table>
  <tr>
    <th>计划</th>
    <th width="20%">培训班</th>
    <th>培训地点</th>
    <th>开班起止时间</th>
    <th>班级状态</th>
    <th>计划</th>
    <th>剩余</th>
    <th>报名状态</th>
    <th>来班</th>
    <th>日志</th>
    <th>证书编号</th>
    <th>操作</th>
  </tr>
  <% (1..10) .each do |i|%>
    <tr>
      <td>2015</td>
      <td>（国内 常州）通信专业LTE技术培训（国培代码：10131010）</td>
      <td>上海</td>
      <td>2015-07-06<br>2014-07-26</td>
      <td>已结束</td>
      <td>39</td>
      <td>15</td>
      <td class="check">审核通过</td>
      <td>是</td>
      <td><a href="#">查看</a></td>
      <td>000390324</td>
      <td><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><br>评价</td>
    </tr>
  <% end %>
</table>