<div class="container-fluid">
  <div class="wrapper">
    <div class="row">
      <div class="personal_center fnt-size col-md-3">
        <div class="center_tab text-center">
          <span>个人中心</span>
        </div>
        <ul class="nav " id="myTab">
          <li role="presentation" class=" active course_tab"><a href="course"><span>我的课程</span></a><hr></li>
          <li role="presentation" class="task_tab"><a href="work"><span>我的作业</span></a><hr></li>
          <li role="presentation" class="journal_tab"><a href="journal"><span>我的日志</span></a><hr></li>
          <li role="presentation" class="message_tab"><a href="message"><span>我的消息</span></a><hr></li>
          <li role="presentation" class="information_tab"><a href="center"><span>个人信息</span></a></li>
        </ul>
      </div>
      <div class="tab-content courses col-md-9 pull-right">