<br>
<div class="row">
  <div class="col-sm-3 text-right">
    * 注册邮箱：
  </div>
  <div class="col-sm-3 text-left text-primary">
    123456789@qq.com
  </div>
  <div class="col-sm-2 text-right">
    * 所在学校：
  </div>
  <div class="col-sm-3 text-left text-primary">
    上海电子信息职业学院
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    * 真实姓名：
  </div>
  <div class="col-sm-3 text-left text-primary">
    李四
  </div>
  <div class="col-sm-2 text-right">
    * 所在院系：
  </div>
  <div class="col-sm-3 text-left text-primary">
    计算机信息系
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    * 身份证号：
  </div>
  <div class="col-sm-3 text-left text-primary">
    323483199208237823
  </div>
  <div class="col-sm-2 text-right">
    * 职业资格证：
  </div>
  <div class="col-sm-3 text-left text-primary">
    计算机四级（中国）
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    * 性别：
  </div>
  <div class="col-sm-3 text-left text-primary">
    女
  </div>
  <div class="col-sm-2 text-right">
    * 从事专业：
  </div>
  <div class="col-sm-3 text-left text-primary">
    计算机专业
  </div>
</div>
 <hr>
<div class="row">
  <div class="col-sm-3 text-right">
    * 出生日期：
  </div>
  <div class="col-sm-3 text-left text-primary">
    1987-02-23
  </div>
  <div class="col-sm-2 text-right">
    * 职称：
  </div>
  <div class="col-sm-3 text-left text-primary">
    老师
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    * 通信地址：
  </div>
  <div class="col-sm-3 text-left text-primary">
    上海市嘉定区345号
  </div>
  <div class="col-sm-2 text-right">
    * 职务：
  </div>
  <div class="col-sm-3 text-left text-primary">
    讲师
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    * 邮政编码：
  </div>
  <div class="col-sm-3 text-left text-primary">
    200003
  </div>
  <div class="col-sm-2 text-right">
    * 电话号码：
  </div>
  <div class="col-sm-3 text-left text-primary">
    40008888
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    * 手机号码：
  </div>
  <div class="col-sm-3 text-left text-primary">
    18001010202
  </div>
  <div class="col-sm-2 text-right">
    * QQ：
  </div>
  <div class="col-sm-3 text-left text-primary">
    123456789
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    历史培训情况：
  </div>
  <div class="col-sm-8 text-left text-primary">
    （国内 常州）通信专业LTE技术培训（国培代码：10131010）<br>
    （国内 常州）通信专业LTE技术培训（国培代码：10131010）<br>
    （国内 常州）通信专业LTE技术培训（国培代码：10131010）<br>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 text-right">
    简介：
  </div>
  <div class="col-sm-8 text-left text-primary">
    简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介
  </div>
</div>
<br>
<p class="text-center">
  <button id="editInfoBtn" class="btn btn-primary">修改信息</button>
</p>