<div class="container-fluid">
  <div class="wrapper">
    <div class="row">
      <div class="personal_center right_message_tab col-md-3">
        <%= render "personal_nav"%>
      </div>
      <div class="col-sm-9 courses">
        <div class="panel panel-default course-panel">
          <div class="panel-heading">
            <%= render 'course_nav'%>
          </div>
          <div class="panel-body course-content">
            <%= render partial: "my_course", locals: {training_course: @training_course}%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 下载课程资源模态框 -->
<div id="resoureDownload" class="modal fade">
</div>