<div class="container-fluid">
  <div class="wrapper">
    <div class="row">
      <div class="personal_center fnt-size col-md-3">
        <%= render "personal_nav"%>
      </div>
      <div class="tab-content courses col-md-9 pull-right">
          <div class="personal_center_content right-nav-tab">
            <h4 class=" fnt-size">我的消息</h4>
            <div class="right-body">
          <ul class="nav nav-stacked">
            <li role="presentation">
              <a href="message2">
              <span class="text-left">（国内）（上海）“高职院校《建筑工程技术》”专业骨干教师师资培训班通知 项目编号09151007</span>
              <span class="pull-right font-red">2015-04-20</span>
              </a>
            </li>
            <hr class="message_hr">
            <li role="presentation">
              <a href="message2">
              <span class="text-left">（国内）（上海）“跨境电子商务骨干教师”师资培训班通知（项目编号09151004）</span>
              <span class="pull-right font-red">2015-04-20</span>
              </a>
            </li>
            <hr class="message_hr">
            <li role="presentation">
              <a href="message2">
              <span class="text-left">（国内）（上海）嵌入式智能设计师资培训通知（二期 09151006-1）（项目编号09151006）</span>
              <span class="pull-right font-red">2015-04-20</span>
              </a>
            </li>
            <hr class="message_hr">
            <li role="presentation">
              <a href="message2">
              <span class="text-left">（国内）（上海）嵌入式智能设计师资培训通知（二期 09151006-2）（项目编号09151006）</span>
              <span class="pull-right font-red">2015-04-20</span>
              </a>
            </li>
            <hr class="message_hr">
            <li role="presentation">
              <a href="message2">
              <span class="text-left">（国内）（上海）“全国高职高专信息化教学技术及信息化课程开发”师资培训班通知...</span>
              <span class="pull-right font-red">2015-04-20</span>
              </a>
            </li>
            <hr class="message_hr">
            <li role="presentation">
              <a href="message2">
              <span class="text-left">（国内）（上海）“全国高职高专工业机器人技术应用”国培师资培训班通知（项目编号09151002）</span>
              <span class="pull-right font-red">2015-04-20</span>
              </a>
            </li>
            <hr class="message_hr">
            <li role="presentation">
              <a href="message2">
              <span class="text-left">（国内）（上海）（Oracle）--大型数据库（Oracle数据库维护与开发）师资培训...</span>
              <span class="pull-right font-red">2015-04-20</span>
              </a>
            </li>
            <hr class="message_hr">
            <li role="presentation">
              <a href="message2">
              <span class="text-left">（企业顶岗）（上海）RFID典型应用系统设计（国培代码：09152005）</span>
              <span class="pull-right font-red">2015-04-20</span>
              </a>
            </li>
            <hr class="message_hr">
            <li role="presentation">
              <a href="message2">
              <span class="text-left">（企业顶岗）（上海）RFID典型应用系统设计（国培代码）（国培代码：09152005）</span>
              <span class="pull-right font-red">2015-04-20</span>
              </a>
            </li>
            <hr class="message_hr">
            <li role="presentation">
              <a href="message2">
              <span class="text-left">（企业顶岗）（上海）RFID典型应用系统设计（国培代码）（国培代码：09152005）</span>
              <span class="pull-right font-red">2015-04-20</span>
              </a>
            </li>
            <hr class="message_hr">
          </ul>
          <nav>
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
          </div>
      </div>
    </div>
  </div>
</div>