<div class="container-fluid">
  <div class="wrapper">
    <div class="row">
      <div class="personal_center fnt-size col-md-3">
        <%= render "personal_nav"%>
      </div>
      <div class="tab-content courses col-md-9 pull-right">
          <div class="row personal_center_content right-nav-tab">
            <h4 class="fnt-size">我的作业</h4>
            <table border="1">
              <tr>
                <th>培训班</th>
                <th>布置作业</th>
                <th>作业提交</th>
                <th>创建时间</th>
                <th>操作</th>
              </tr>
              <% (1..7) .each do |i|%>
              <tr>
                <td>（国内 常州）通信专业LTE技术培训（国培代码：10131010）</td>
                <td>7月21日作业-EPC</td>
                <td>7月21日作业-EPC<br>[作业附件]作业4.docx</td>
                <td>2015-04-25 <br> 21:30</td>
                <td>
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><br>
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><br>
                  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                </td>
              </tr>
              <% end %>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>