<div class="main-content">
	<div class="panel panel-default">
	  <div class="panel-heading panel-active">搜索栏</div>
	  <div class="panel-body panel-default-bg">
	    <div class="row">
			  <div class="col-sm-3">
			    <div class="form-group">
			      <input type="date" class="form-control">
				  </div>
				</div>
				<div class="col-sm-3">
			    <div class="form-group">
			      <input type="select" class="form-control">
				  </div>
				</div>
				<div class="col-sm-3">
			    <div class="form-group">
			      <input type="select" class="form-control">
				  </div>
				</div>
				<div class="col-sm-3">
			    <div class="form-group">
			      <input type="submit" value="搜  索" class="btn btn-primary">
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading panel-active">评审项目</div>
	  <div class="panel-body panel-default-bg">
	    <table class="table">
	    	<thead>
	    	  <tr>
	    	  	<th class="col-sm-2 text-center">培训班</th>
		    		<th class="col-sm-2 text-center">培训机构</th>
		    		<th class="text-center">培训起至时间</th>
		    		<th class="text-center">培训费用</th>
		    		<th class="col-sm-2 text-center">教师&负责人</th>
		    		<th class="text-center">计划</th>
		    		<th class="text-center">研究会</th>
		    		<th class="text-center">评审专家</th>
		    		<th class="text-center">操作</th>
	    	  </tr>
	    	</thead>
	    	<tbody>
	    	  <tr class="tr-default-bg">
	    	  	<td class="text-center">（国内）（上海）信息化教学技术及信息化课程开发师资培训（国培代码：09151005）</td>
		    		<td class="text-center">上海 - 徐汇上海电子信息技术职业学院</td>
		    		<td class="text-center">2015-07-06 2015-08-05</td>
		    		<td class="text-center">9000</td>
		    		<td class="text-center">[教师 7] 胡国胜,董奇,李元元,贾璐,李毅杰,杨慧敏,瞿广峰[负责人 2] 俞佳莺,由寅君</td>
		    		<td class="text-center">100</td>
		    		<td class="text-center text-active-status">已通过</td>
		    		<td class="text-center text-active-status">已通过</td>
		    		<td class="text-center">
		    		  <%= link_to admin_panel_project_path(1) do %>
		    		    <span class="glyphicon glyphicon-log-in"></span>
		    		  <% end %>
		    		</td>
	    	  </tr>
	    	  <tr class="tr-default-bg">
	    	  	<td class="text-center">（国内）（上海）信息化教学技术及信息化课程开发师资培训（国培代码：09151005）</td>
		    		<td class="text-center">上海 - 徐汇上海电子信息技术职业学院</td>
		    		<td class="text-center">2015-07-06 2015-08-05</td>
		    		<td class="text-center">9000</td>
		    		<td class="text-center">[教师 7] 胡国胜,董奇,李元元,贾璐,李毅杰,杨慧敏,瞿广峰[负责人 2] 俞佳莺,由寅君</td>
		    		<td class="text-center">100</td>
		    		<td class="text-active-status text-center">已通过</td>
		    		<td class="text-active-status text-center">已通过</td>
		    		<td class="text-center">
		    		  <%= link_to admin_panel_project_path(1) do %>
		    		    <span class="glyphicon glyphicon-log-in"></span>
		    		  <% end %>
		    		</td>
	    	  </tr>
	    	</tbody>
	    </table>
	  </div>
	</div>
	<nav>
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>