<div class="table-responsive">
  <table class="table table-bordered table-hover">    
    <thead>
      <tr class="active text-center">
        <th colspan="4">培训班级信息</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">培训班级名称</th>
        <td colspan="3">(国内)(上海)“跨境电子商务骨干教师”师资培训班通知（培训项目代码：09151004）</td>
      </tr>
      <tr>
        <th scope="row">培训机构</th>
        <td colspan="3">上海立信会计学院</td>
      </tr>
      <tr>
        <th scope="row">培训项目负责人</th>
        <td>钱老师</td>
        <th>联系方式</th>
        <td>021-68029034<br>13501773686<br>icd-nec@126.com</td>
      </tr>
      <tr>
        <th scope="row">班级负责人</th>
        <td colspan="3">梁宝军 0451-86703959 13796607033</td>
      </tr>
      <tr>
        <th scope="row">起止时间</th>
        <td>2015-07-13至2015-08-7</td>
        <th>计划人数</th>
        <td class="font-red">100</td>
      </tr>
      <tr>
        <th scope="row">培训天数</th>
        <td>24</td>
        <th>剩余名额</th>
        <td class="font-green">100</td>
      </tr>
      <tr>
        <th scope="row">培训地点</th>
        <td colspan="3">上海立信会计学院（上海市徐汇区中山西路2230号）</td>
      </tr>               
    </tbody>   
  </table>
</div>
<br>
<%= link_to "我要报名", "#", class:"apply-btn"%>
<br>