<div class="table-responsive">
  <table class="table table-bordered table-hover">    
    <thead>
      <tr class="active text-center">
        <th colspan="4">培训班级信息</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">培训班级名称</th>
        <td colspan="3">(企业顶岗) (天津) Android高级应用开发(国培代码：02152005)</td>
      </tr>
      <tr>
        <th scope="row">培训机构</th>
        <td colspan="3">天津电子信息职业技术学院</td>
      </tr>
      <tr>
        <th scope="row">培训项目负责人</th>
        <td>杨长梅</td>
        <th>联系方式</th>
        <td>0451-86703959<br>13212909823<br>hngzyzsb@tom.com</td>
      </tr>
      <tr>
        <th scope="row">班级负责人</th>
        <td colspan="3">梁宝军 0451-86703959 13796607033</td>
      </tr>
      <tr>
        <th scope="row">起止时间</th>
        <td>2015-07-17至2015-09-11</td>
        <th>计划人数</th>
        <td class="font-red">100</td>
      </tr>
      <tr>
        <th scope="row">培训天数</th>
        <td>24</td>
        <th>剩余名额</th>
        <td class="font-green">100</td>
      </tr>
      <tr>
        <th scope="row">培训地点</th>
        <td colspan="3">天津电子信息职业技术学院</td>
      </tr>               
    </tbody>   
  </table>
</div>
<br>
<%= link_to(image_tag("btn_apply.png"), "#")%>
<br><br>