<table class="table table-bordered">
  <tr>
    <th>考勤</th>
    <td>30%</td>
  </tr>
  <tr>
    <th>作业</th>
    <td>30%</td>
  </tr>
  <tr>
    <th>培训总结</th>
    <td>10%</td>
  </tr>
  <tr>
    <th>企业实践</th>
    <td>30%</td>
  </tr>
  <tr>
    <th>其他</th>
    <td>0%</td>
  </tr>
</table>