<ol class="breadcrumb">
  <li>
    <%= link_to "后台", admin_panel_root_path  %>
  </li>
  <li>
    <%= link_to "培训资料", admin_panel_materials_path %>
  </li>
  <li class="active">新建</li>
</ol>


<div class="main-content">
  <div class="panel panel-default">
    <%= render "form" %>
	</div>
</div>