.home__index {
	.main-content {
		.half-width {
			width: 49%;
		}
		.active-title {
			color: #345ab3;
			font-weight: bold;
		}
		.active-link {
			color: #345ab3;
		}
		.panel-main {
			margin-bottom: 20px;
		}
		.panel-list, .oh {
			overflow: hidden;
		}
		.panel-bg {
			height: 42px;
			padding-top: 6px;
      color: #fff;
			background: image-url("part-top.png") no-repeat 0 0;
			&.gap-64{
        padding-left: 64px;
			}
			&.gap-70{
        padding-left: 70px;
			}
			&.gap-80{
        padding-left: 80px;
			}
		}
		.bordered {
			border: solid 1px #d4d4d4;
			border-top: 0 none;
		}
		.panel {
      border-top: 0 none;
		}
		.fix-height img{
			height: 50px!important;
		}
		.title-bg {
			height: 36px;
			width: 176px;
			line-height: 36px;
			text-align: center;
			color: #fff;
		  position: absolute;
		  left: 50%;
		  z-index: 2333;
			background: image-url("title-bg.png") no-repeat 0 0;
			//培训项目
			&.pxtz {
		    margin-left: -470px;
		    //top: 385px;
		    top: 1165px;
			}
			//骨干教师项目
			&.ggjsbm {
				margin-left: -470px;
		    top: 775px;
			}
			//专业负责人项目
			&.zyfzrtz {
				margin-left: -470px;
		    //top: 1165px;
		    top: 385px;
			}
			//友情链接
			&.yqlj {
				left: 50%;
			  margin-left: -480px;
			  top: 1555px;
			}
		}
		ul {
			min-height: 72px;
      overflow: hidden;
		}
		ul.list li {
			height: 40px;
			line-height: 40px;
			border-bottom: dotted 1px #ccc;
			overflow: hidden;
			position: relative;
			&:before {
				content: image-url("li-squ.png");
				height: 24px;
				line-height: 24px;
        position: absolute;
        top: 6px;
        left: 0px;
			}
			a {
				color: #333;
				padding-left: 12px;
				&:hover {
					color: #345ab3;
				}
			}
		}
	}
}