.home__index {
	.main-content {
		.half-width {
			width: 49%;
		}
		.panel-list, .oh {
			overflow: hidden;
		}
		.panel-bg {
			height: 37px;
			background: image-url("panel-bg.png") repeat-x 0 0;
		}
		.panel {
      border-top: 0 none;
		}
		.fix-height img{
			height: 50px!important;
		}
		.title-bg {
			height: 36px;
			width: 176px;
			line-height: 36px;
			text-align: center;
			color: #fff;
		  position: absolute;
		  left: 50%;
		  z-index: 2333;
			background: image-url("title-bg.png") no-repeat 0 0;
			//培训通知
			&.pxtz {
				margin-left: -480px;
		    top: 385px;
			}
			//培训报名
			&.pxbm {
				margin-left: 30px;
		    top: 385px;
			}
			//友情链接
			&.yqlj {
				left: 50%;
			  margin-left: -480px;
			  top: 1280px;
			}
      //专业负责人通知
			&.zyfzrtz {
				margin-left: -480px;
		    top: 982px;
			}
			//专业负责人报名
			&.zyfzrbm {
				margin-left: 30px;
		    top: 982px;
			}
			//骨干教师通知
			&.ggjstz {
				margin-left: -480px;
		    top: 684px;
			}
			//骨干教师报名
			&.ggjsbm {
				margin-left: 30px;
		    top: 684px;
			}
		}
		ul {
      overflow: hidden;
		}
		ul li {
			height: 40px;
			line-height: 40px;
			border-bottom: dotted 1px #ccc;
			overflow: hidden;
			position: relative;
			&:before {
				content: image-url("li-squ.png");
				height: 24px;
				line-height: 24px;
        position: absolute;
        top: 6px;
        left: 0px;
			}
			a {
				color: #333;
				padding-left: 12px;
				&:hover {
					color: #345ab3;
				}
			}
		}
	}
}