.center_tab {
  background:url('08-1.png') center no-repeat;
  text-align:center;
  line-height:35px;
  margin-top:20px;
  span {
    font-size:16px;
    color:#fff;
  }
}
.personal_center {
  text-align:center;
  margin-left:15px;
#myTab {
  span {
    font-size:16px;
  }
  li {
    a:link {
      color:#010101;
      border:none;
    }
    a:hover {
      color:#345ab3;
      border:none;
      background:url('08-2.png') no-repeat;
    }
    a:visited {
      color:#010101;
      border:none;
    }
  }
}
}
.courses {
  margin:20px 10px 20px 0;
  table {
    width:98%;
    margin-left:8px;
    border-color:#bfbfbf;
    text-align:center;
    .check {
      color:green;
    }
    .glyphicon-list-alt {
      color:blue;
    }
    .glyphicon-eye-open {
      color:green;
    }
    .glyphicon-pencil {
      color:red;
    }
  }
}
.panel {
  .panel-heading {
    background:url('08-3.png') no-repeat;
    font-size:16px;
    color:#fff;
  }
}
.information_form {
  text-align:center;
}
