// Place all the styles related to the train controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
.content{
	border-radius: 5px;
	.left-head{
		background: url(/assets/left_title_bg.png) no-repeat;
		background-size: 100% 100%;
		height: 40px;
		line-height: 35px;
		color: $color-white;
	}
	.left-body{
		border:1px solid $color-gray-border;
		border-top: 0px;
		border-radius:0px 0px 8px 8px;
		padding: 5px 0;
		a{
			color: $color-black;
			&.active{
				background: url(/assets/left_item_bg.png) no-repeat;
				background-size: 95% 100%;
				color: $color-blue;
				background-position: center;
			}
		}
	}
	.right-head{
		background: url(/assets/right_title_bg.png) no-repeat;
		background-size: 100% 100%;
		height: 35px;
		line-height: 35px;
		margin-top: 5px;
		color: $color-white;
		.btn-xs{
			font-size: 14px;
			padding: 1px 12px;
			border-radius: 12px;
			margin-bottom: 5px;
		}
		.apply-input{
			width: 150px;
			height: 25px;
			border-radius:12px; 
			margin-bottom: 5px;
		}
	}
	.right-body{
		border:1px solid $color-gray-border;
		border-radius:0px 0px 8px 8px;
		border-top: 0px;
		padding: 20px 10px;
		.notice-info{
			color: $color-gray;
			font-size: 12px;
		}
		.share-btn{
			background: url(/assets/share_bg.png) no-repeat;
			background-size: 100% 100%;
			height: 18px;
			width: 120px;
			float: right;
			a{
				display: block;
				height: 18px;
				width: 20px;
				float: left;
			}
		}
		.table > thead:first-child > tr:first-child > th, .table-bordered > tbody > tr > td{
			text-align: center;
			vertical-align: middle;
			.cell-width{
				width: 35px;
			}
		}
	}
	.divider{
		margin: 0 10px 0 10px;
		border-width: 1px 0px 0px;
		border-style: dashed none none;
		border-color: $color-gray-border;
	}
}
.font-red{
	color: $color-red;
}
.font-blue{
	color: $color-blue;
}