<dl class="target-content">
  <dt>各高职高专院校：</dt><br>
  <dd>
    <p class="indentation">
      目前，在传统外贸增长乏力的大背景下，呈爆发式增长的跨境电子商务逐渐成为业内关注的焦点，并将对中国整体国民经济以及进出口贸易产生深远意义和价值。在中国政府和企业的大力推动下，已经围绕整个跨境贸易形成了一条从营销到支付、物流和金融服务的清晰、完整的产业链，为中国跨境电子商务的进一步发展奠定基础。2013年8月29日，国务院办公厅转发商务部等部门《关于实施支持跨境电子商务零售出口有关政策的意见》，强调进一步保证外贸稳定增长，为跨境贸易电子商务的发展提供了政策建议和保证。
    </p>
  </dd>
  <dd>
    <p class="indentation">
      跨境电子商务创新和可持续发展急需掌握国际贸易、国际物流、电子商务相关知识与技能跨境电子商务的人才，高校电子商务专业和国际贸易专业加快培养电子商务的人才，是当前提升产业发展能力的重要途径。为了配合相关专业建设，深化教育教学改革，适应我国外贸发展方式变化，为跨境电商的发展提供强大的智力基础和人才保障，上海市高职高专经济类专业教学指导委员会将于2015年7月13日至8月7日在上海举办 “跨境电子商务骨干教师” 国培师资培训。
    </p>
  </dd>
  <dd>
    <p class="indentation">
      本次培训为教育部全国高职高专教师培训计划项目。培训合格者将获得由教育部颁发的<strong>《全国高职高专教育骨干教师研修班培训证书》。</strong>
    </p>
  </dd>
  <dd>
    <p class="indentation">
      在此热烈欢迎贵院派出骨干教师参加培训和交流，愿互相切磋经验，取长补短，共同进步！现将有关培训事宜通知如下：
    </p>
  </dd>
</dl>