<ul id="courseMenu" class="nav nav-tabs">
  <li><%= link_to "我的课程", course_user_index_path, class: current_page?(controller: 'user', action: 'course') ? 'active' : ''%></li>
  <li><%= link_to "已完成课程", end_course_user_index_path, class: ending_course_active %></li>
</ul>