<footer>
  <div class="wrapper">
  	<ul class="col-sm-8 col-xs-8 col-md-8">
			<li>
				秘书处联系方式：上海市高职高专教学研究会秘书处
			</li>
			<li>
				  业务咨询（021-54253051）　 技术支持（021-60675958-1069）　 证书办理（021-54253051）
			</li>
			<li>
				ＱＱ群：457358462　 邮箱咨询：shsgzgzjxyjh@163.com　
			</li>
			<li>
				地址：中国·上海市中山南二路620号1号楼102室　邮编：200032　网络技术支持：大唐邦彦(上海)信息技术有限公司
			</li>
			<li>
				<span>版权所有©2014上海市高职高专教学研究会</span><a style="color: yellow;text-decoration: none;" href="http://www.miitbeian.gov.cn" target="blank">【沪ICP备08109476号-4】</a>
			</li>
		</ul>
		<%= image_tag("qrcode.png", class: "pull-right")%>
  </div>
</footer>