<footer>
  <div class="wrapper">
  	<ul class="col-sm-8 col-xs-8 col-md-8">
			<li>
				秘书处联系方式：上海市高职高专教学研究会秘书处
			</li>
			<li>
				  业务咨询（021-57132803）　 技术支持（021-63230765）　 证书办理（021-57132803）
			</li>
			<li>
				ＱＱ群：226595293　 邮箱咨询：shsgzgzjxyjh@163.com　
			</li>
			<li>
				地址：中国·上海市中山南二路620号　邮编：200032　网络技术支持：大唐邦彦(上海)信息技术有限公司
			</li>
		</ul>
		<%= image_tag("qrcode.png", class: "pull-right")%>
  </div>
</footer>