<footer>
  <div class="wrapper">
  	<ul class="col-sm-8 col-xs-8 col-md-8">
			<li>
				联系电话（秘书处）： 业务咨询（010-58581444）　 技术支持（010-58581854）　 证书办理（010-58581602）
			</li>
			<li>
				ＱＱ群：226595293　 邮箱咨询：2061748017@qq.com　
			</li>
			<li>
				地址：北京市朝阳区惠新东街4号富盛大厦　邮编：100029　网络技术支持：北创软件
			</li>
			<li>
				Locations of visitors to this page
			</li>
		</ul>
		<%= image_tag("qrcode.png", class: "pull-right")%>
  </div>
</footer>